@using MyNote.Enties
@model List<Note>
@{
    ViewBag.Title = "Anasayfa";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_PartialCategories")
    </div>
    <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Note item in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4" data-note-id="@item.Id">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="@item.Title">
                        <div class="caption">
                            <h4>
                                <a href="#">@item.Title </a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-time"></span>@item.CreatedOn<br />
                                <span class="glyphicon glyphicon-user"></span> @item.Owner.Name
                            </h6>
                            <p>
                                @if (string.IsNullOrEmpty(item.Text) == false && item.Text.Length >= 40)
                                {
                                    @(item.Text.Substring(0, 40))
                                <p><a class="btn btn-primary btn-xs" href="#">Devamı</a></p>
                                }
                                else
                                {
                                    @item.Text
                                }
                                </p>

                            </div>
                            <div><hr /></div>
                            <div class="ratings">
                                <p class="pull-right">
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalYorum" data-note-id="@item.Id">
                                        <span class="glyphicon glyphicon-comment"></span>Yorumlar
                                    </button>
                                </p>
                                <p>
                                    <button data-liked="false" data-note-id="@item.Id" type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                      &nbsp;  <span class="like-count">@item.LikeCount</span>
                                    </button>

                                </p>
                            </div>
                        </div>
                    </div>
            }


        </div>
    </div>
</div>
@section footer{
@Html.Partial("_PartialFooter")    
}

<script src="~/Scripts/comment.js"></script>
@Bootstrap.ModalPopup(id: "modalYorum", title:"Yorumlar");


@*<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/jquery-3.1.1.js"></script>*@

@*<script>
    $(function () {

        var notdis = [];
        $("div[ data-note-id]").each(function (i, e) {
           
            notdis.push($(e).data("note-id"));
        });

        $.ajax({
            method: "POST",
            url: "/Note/GetLiked",
            data: { ids: notdis }
        }).done(function (data) {

        }).fail(function (e) {
            alert("sunucu erişim hatası");
        });

    });
</script>*@